#!/usr/bin/make -f

package := linux-uki

# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,-O1

# Secure Boot
debian/stamps/build-linux-uki-ia32 install/linux-uki-ia32: export SB_PLATFORM := i386-efi
debian/stamps/build-linux-uki-ia32 install/linux-uki-ia32: export SB_EFI_NAME := ia32
debian/stamps/build-linux-uki-amd64 install/linux-uki-amd64: export SB_PLATFORM := x86_64-efi
debian/stamps/build-linux-uki-amd64 install/linux-uki-amd64: export SB_EFI_NAME := x64
debian/stamps/build-linux-uki-arm install/linux-uki-arm: export SB_PLATFORM := arm-efi
debian/stamps/build-linux-uki-arm install/linux-uki-arm: export SB_EFI_NAME := arm
debian/stamps/build-linux-uki-arm64 install/linux-uki-arm64: export SB_PLATFORM := arm64-efi
debian/stamps/build-linux-uki-arm64 install/linux-uki-arm64: export SB_EFI_NAME := aa64
debian/stamps/build-linux-uki-ia64 install/linux-uki-ia64: export SB_PLATFORM := ia64-efi
debian/stamps/build-linux-uki-ia64 install/linux-uki-ia64: export SB_EFI_NAME := ia64
debian/stamps/build-linux-uki-loong64 install/linux-uki-loong64: export SB_PLATFORM := loongarch64-efi
debian/stamps/build-linux-uki-loong64 install/linux-uki-loong64: export SB_EFI_NAME := loongarch64
debian/stamps/build-linux-uki-riscv64 install/linux-uki-riscv64: export SB_PLATFORM := riscv64-efi
debian/stamps/build-linux-uki-riscv64 install/linux-uki-riscv64: export SB_EFI_NAME := riscv64
SB_PACKAGE :=
ifeq (yes,$(shell dpkg-vendor --derives-from Ubuntu && echo yes))
ifeq ($(DEB_HOST_ARCH),amd64)
SB_PACKAGE := grub-efi-amd64
endif
ifeq ($(DEB_HOST_ARCH),arm64)
SB_PACKAGE := grub-efi-arm64
endif
endif

%:
	dh $@

#override_dh_auto_install:
#	dh_auto_install -- prefix=/usr

#override_dh_install:
#	dh_install --list-missing -X.pyc -X.pyo

override_dh_auto_install:
	./debian/signing-template.generate "$(package)"
